@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #bac4b0;
}

*, *::before, *::after {
  box-sizing: inherit;
}


h1 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
}

.masthead {
  height: 4rem;
  display: block;
  padding: .5rem;
  color: white;
  font-weight: 200;
  font-family: "Roboto";
}



/*NAV*/
.nav {
  display: none;
  text-align: right;
  background-color: #bac4b0;
}

.nav a:hover {
  color: black;
}

.btn:hover {
  background-color: black;
  color: white;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-check {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  width: 40px;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 10px;
}



.pieces {
  background-color: #C4CEB9;
}

.portfolio-piece {
  box-shadow: 10px 10px 5px grey;
}


h2 {
  font-family: "Caviar Dreams", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  display: inline-block;
  line-height: normal;
  margin: 1rem;
}

h3 {
  font-family: "Caviar Dreams", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  display: inline-block;
  line-height: normal;
  margin-bottom: 0;
}

.workbody {
  background-color: #C4CEB9;
}


.text {
  display: inline-block;
  text-align: center;
}

.content {
  text-align: center;
}


/*BANNER*/
.me1 {
  width: 32%;
  display: inline-block;
  height: 500px;
  width: 300px;
}

.me2 {
  opacity: 0.2;
  width: 40%;
  display: inline-block;
  position: absolute;
}


.banner {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 100%;
  display: block;
  background-color: #C4CEB9;
  text-align: center;
}

.content {
  left: 0;
  width: 100%;
  bottom: 30%;
}

h1 {
  color: white;
}

p {
  color: black;
}

img {
  max-width: 100%;
}

/*Cards*/
.card {
  position: relative;
  transition: all 500ms linear;
  overflow: hidden;
}

.card .content {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.content {
  background-color: rgba(145, 145, 145, .7);
}

.image-pad {
  padding-bottom: 3rem;
}



/*FOOTER*/
footer p {
  text-align: left;
  padding-left: 4rem;
  color: #1E1E1E;
}

footer {
  border-top: 1px solid black;
}

.footer-content {
  padding-top: .2rem;
  padding-bottom: 2rem;
}

.icons {
  padding-top: .3rem;
  padding-right: 4rem;
}

.icon {
padding-left: 2rem;
display: block;
float: right;
}

/*Form*/

.contact {
  background-color: #C4CEB9;
}

.contact-me {
  background-color: #C4CEB9;
  padding-bottom: 3rem;
}

.contact-me h3 {
  padding-bottom: 2rem;
}

form {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  width: 80%;
  display: inline-block;
  text-align: left;
  padding-left: 5rem;
  padding-right: 5rem;
}

form input, textarea{
  background-color: transparent;
}

.btn{
  background-color: transparent;
  color: #5b6354;
  border-color: #5b6354;
}

.btn:hover {
  color: black;
  background-color: grey;
  border-color: black;
}


@media only screen and (min-width: 15em) {

  .text {
    text-align: center;
  }

/*Footer*/
  footer p {
    text-align: left;
    padding-left: .3rem;
  }

  .icons {
    padding-top: .3rem;
    padding-right: .3rem;
    text-align: right;
  }

}

@media only screen and (min-width: 38em) {

  .card .content {
    position: absolute;
    width: 100%;
    opacity: 0;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 500ms linear;
    background-color: rgba(145, 145, 145, .7);
  }

  .card:hover .content {
    opacity: 1;
  }

  footer p {
    text-align: left;
    padding-left: 3rem;
  }

  .icons {
    padding-top: .3rem;
    padding-right: 3rem;
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .nav {
    display: block;
      background-color: #bac4b0;
  }

  .nav li {
    display: inline-block;
  }

  .nav a {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .nav-label {
    display: none;
  }

}

@media only screen and (min-width: 90em) {



}
