<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Portfolio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
</head>


<header class="">
  <a class="inline-block" href="{{site.baseurl}}/">
    <img class="logo" src="{{site.baseurl}}/images/name5.png" alt="">
  </a>
  </div>
</header>



{{content}}



<footer class="text-center">
  <div class="grid footer-content">
    <p class=" unit xs-1-2">&copy; 2018 Jaimie Porter</p>
    <div class="unit xs-1-2 icons text-right">
      <a href="https://www.instagram.com/jaimie.graphics/" class="icon i-24">
        <img src="{{site.baseurl}}/images/icons-instagram.svg">
      </a>
      <a href="https://vimeo.com/user56681087" class="icon i-24">
        <img src="{{site.baseurl}}/images/icons-vimeo.svg">
      </a>
      <a href="https://www.behance.net/port0203c483" class="icon i-24">
        <img src="{{site.baseurl}}/images/icons-behance.svg">
      </a>
    </div>
  </div>
</footer>
