<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Portfolio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
</head>


<header class="">
    <a class="logo inline-block unit xs-1" href="{{site.baseurl}}/">
      <img class="" src="{{site.baseurl}}/images/name5.png" alt="">
    </a>
    <div class="nav unit xs-1">
      <ul class="list-group-inline">
        <li class="island-1-8">
          <a class="block text-center  pad-t-1-4 pad-b-1-4 milli" href="{{site.baseurl}}/">WORK</a>
        </li>
        <li class="island-1-8">
          <a class="block text-center  pad-t-1-4 pad-b-1-4 milli" href="play">PLAY</a>
        </li>
        <li class="island-1-8">
          <a class="block text-center pad-t-1-4 pad-b-1-4 milli" href="#contact">CONTACT</a>
        </li>
      </ul>
    </div>
    <!-- <div class="unit xs-1 bottom-nav">
      <ul class="list-group-inline push-0 bottom-nav">
        <li><a href="{{site.baseurl}}/">WORK</a></li>
        <li><a href="play">PLAY</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div> -->
</header>



{{content}}



<footer class="text-center">
  <div class="grid footer-content">
    <p class=" unit xs-1-2">&copy; 2020 Jaimie Porter</p>
    <div class="unit xs-1-2 icons text-right">
      <a href="https://www.instagram.com/jaimie.graphics/" class="icon i-24">
        <img src="{{site.baseurl}}/images/icons-instagram.svg">
      </a>
      <a href="https://vimeo.com/user56681087" class="icon i-24">
        <img src="{{site.baseurl}}/images/icons-vimeo.svg">
      </a>
      <!-- <a href="https://www.behance.net/port0203c483" class="icon i-24">
        <img src="{{site.baseurl}}/images/icons-behance.svg">
      </a> -->
    </div>
  </div>
</footer>
